# Clang-format configuration for C++ code
# Based on Google C++ Style Guide with some modifications

BasedOnStyle: Google
Language: Cpp
Standard: c++20 # Il progetto usa C++23 ma non è ancora supportato da clang-format

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

# Includes
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive

# Braces
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Pointer alignment
DerivePointerAlignment: false
PointerAlignment: Left

# Other
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
